name: njsscan

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 0 1 * *"

permissions:
  contents: read
  security-events: write
  actions: read
  
jobs:
  call-njsscan-workflow:
    uses: Mephisto5558/Mephisto5558/.github/workflows/njsscan.yml@main